<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>C.I.A</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/vendor/bootstrap/mdbootstrap.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/styles.css}" />
<!-- Bootstrap core JavaScript -->
<script th:src="@{/assets/js/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
</head>

<body>

	<nav th:replace="fragments/nav.html :: nav"></nav>

	<!-- Header - set the background image for the header in the line below -->
	<header id="home" class="py-5 bg-image-full" th:style="'background-image: url(/assets/img/green-home-2.jpg);height:50vh'">
		<div class="overlay"></div>
		<div class="container h-100">
			<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white">
					<h1 class="display-3">C.I.A</h1>
					<p class="lead mb-0">Préparons demain dès aujourd'hui</p>
				</div>
			</div>
		</div>
	</header>


	<!-- Content section -->
	<section id="project" class="pt-5">
		<div class="container">
			<div class="div-pres">
				<div class="col-sm-12 col-md-4 col-lg-4 img-pres">
					<img src="/assets/img/lgeulin.jpg" class="rounded" style="width:100%" alt="co2">
				</div>
				<div class="col-sm-12 col-md-8 col-lg-8 text-img-pres">
					<h1 style="display:inline-block">Laurent Geulin</h1>
					<p class="lead">Entrepreneur et Chercheur</p>
					<p>PHYSICIEN & CHIMISTE depuis plus de trente ans <br />
						DOCTEUR EN GENIE MECANIQUE depuis plus de trente ans <br />
						MATHÉMATICIEN et PROGRAMMEUR  depuis presque Trente ans</p>
				</div>
			</div>
			<div class="pres">
				<p>Il est entre autre : <br /> </p>
				<ul>
					<li>certifié par l’université de Stanford depuis plus de dix ans</li>
					<li>expert pour l’état français depuis 1993 (ANVAR, DRIRE …)</li>
					<li>administrateur du pole de compétitivité de la route des lasers (ALPHA-RLH) depuis 2016</li>
					<li>au conseil scientifique de International Carbon Composites Conference</li>
					<li>membre de la société savante AMAC</li>
					<li>représentant PME auprès du programme européen leader</li>
					<li>représentant PME auprès de la préfecture pour l’emploi local</li>
					<li>INNOVATEUR plus qu’inventeur, de nombreux produits innovants ont été imaginés, calculés, dimensionnés, industrialisés, produits de par son travail.</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="project" class="pt-5">
		<div class="container"> 
			<h1 style="display:inline-block">Didier Revardel</h1>
			<p class="lead">Directeur commercial et Responsable développement produit</p>
			<p>Ancien directeur de région chez SANOFI<br />
				Il a rejoint Laurent GEULIN sur son projet « d’épurateur » en début 2018 <br />
				Il a permis l’achat du FORD Ranger et participe financièrement à l’ensemble des débours. <br />
				Il réalise les montages, s’occupe de l’approvisionnemment et de la gestion des matériels. <br />
				Il s’occupe de la relation fournisseur
			</p>
			<p>Il est entre autre : <br /> </p>
			<ul>
				<li>en charge de la gestion matérielle du projet</li>
				<li>un véritable ingénieur projet</li>
			</ul>
		</div>
	</section>

	<!-- Image Section - set the background image for the header in the line below -->
	<section id="aboutus" class="py-5">
		<div class="container">
			<img src="/assets/img/lgeulin-drivardel-ford.jpg" class="rounded" style="width:100%" alt="co2">
		</div>
	</section>
	
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy;
				CIA 2019</p>
		</div>
		<!-- /.container -->
	</footer>

</body>

</html>
