<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>C.I.A</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/vendor/bootstrap/mdbootstrap.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/styles.css}" />
<!-- Bootstrap core JavaScript -->
<script th:src="@{/assets/js/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
</head>

<body>
	<nav th:replace="fragments/nav.html :: nav"></nav>

	<!-- Header - set the background image for the header in the line below -->
	<header id="home" class="py-5 bg-image-full" th:style="'background-image: url(/assets/img/green-home-2.jpg);height:95vh'">
		<div class="overlay"></div>
		<div class="container h-100">
			<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white">
					<h1 class="display-3">C.I.A</h1>
					<p class="lead mb-0">Préparons demain dès aujourd'hui !</p>
				</div>
			</div>
		</div>
	</header>


	<!-- Content section -->
	<section id="project" class="pt-5">
		<div class="container"> 
			<h1 style="display:inline-block">Rouler pour dépolluer !</h1>
			<p class="lead">La fin des moteurs thermiques pollueurs</p>
			<p>	Les diesels propres / dépollués à 90%
			Nous sommes arrivés à un niveau de dépollution (CO2, Nox, Particules fines…) tel que tout moteur thermique diesel peut devenir « propre ». <br />
			Les rejets sont alors essentiellement de l’eau et de l’oxygène et il est fréquent que les rejets à la sortie de l’épurateur soient de meilleure qualité par exemple avec une teneur en oxygène plus importante (23-24%) qu’a l’admission (air ambiant 20 – 21%). 
			D’où « ROULER POUR DEPOLLUER ».
			</p>
		</div>
	</section>

	<section class="pt-5">
		<div class="container">
			<section>
				<div class="embed-responsive embed-responsive-16by9">
					<!--Video source-->
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/Eo-_l6DR4SY?rel=0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>

			</section>
		</div>
	</section>

	<!-- Image Section - set the background image for the header in the line below -->
	<section class="pt-5">
		<div class="container">
			<section>
				<div class="embed-responsive embed-responsive-16by9">
					<!--Video source-->
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/GNGMhsPpHOg?rel=0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</section>
		</div>
	</section>

	<!-- Content section -->
	<section id="project" class="pt-5">
		<div class="container"> 
			<h1 style="display:inline-block">Rouler pour dépolluer !</h1>
			<p class="lead">La fin des moteurs thermiques pollueurs</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aliquid, suscipit, rerum quos facilis repellat architecto commodi
				officia atque nemo facere eum non illo voluptatem quae delectus odit
				vel itaque amet.</p>
		</div>
	</section>
	
	<section class="py-5">
		<div class="container">
			<section>
				<div class="embed-responsive embed-responsive-16by9">
					<!--Video source-->
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/9qGtgqqDrHQ?rel=0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</section>
		</div>
	</section>
	
	<!-- Footer --> 
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy;
				CIA 2019</p>
		</div>
		<!-- /.container -->
	</footer>

</body>

</html>
