<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>C.I.A</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/vendor/bootstrap/mdbootstrap.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/styles.css}" />
<!-- Bootstrap core JavaScript -->
<script th:src="@{/assets/js/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
</head>

<body>

	<nav th:replace="fragments/nav.html :: nav"></nav>

	<!-- Header - set the background image for the header in the line below -->
	<header class="py-5 bg-image-full" th:style="'background-image: url(/assets/img/green-home-2.jpg);height:50vh'">
		<div class="overlay"></div>
		<div class="container h-100">
			<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white">
					<h1 class="display-3">C.I.A</h1>
					<p class="lead mb-0">Préparons demain dès aujourd'hui</p>
				</div>
			</div>
		</div>
	</header>

		<!-- Content section -->
	<section class="pt-5">
		<div class="container"> 
			<h1 style="display:inline-block">Les premiers résultats</h1>
			<p class="lead">La fin des moteurs thermiques pollueurs</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aliquid, suscipit, rerum quos facilis repellat architecto commodi
				officia atque nemo facere eum non illo voluptatem quae delectus odit
				vel itaque amet.</p>
			<img src="/assets/img/co2-min.png" class="rounded" style="width:100%" alt="co2">
			<p class="py-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Aliquid, suscipit, rerum quos facilis repellat architecto commodi
			officia atque nemo facere eum non illo voluptatem quae delectus odit
			vel itaque amet. </p>
			<img src="/assets/img/nox-min.png" class="rounded" style="width:100%" alt="nox">
			<p class="pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Aliquid, suscipit, rerum quos facilis repellat architecto commodi
			officia atque nemo facere eum non illo voluptatem quae delectus odit
			vel itaque amet. </p>
			
			<section>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/W4H--gs_bBo?rel=0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</section>
		</div>

	</section>

	<!-- Content section -->
	<section class="pt-5">
		<div class="container"> 
			<h1 style="display:inline-block">Rouler pour dépolluer !</h1>
			<p class="lead">La fin des moteurs thermiques pollueurs</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aliquid, suscipit, rerum quos facilis repellat architecto commodi
				officia atque nemo facere eum non illo voluptatem quae delectus odit
				vel itaque amet.</p>
		</div>
	</section>
	
	
	<!-- Image Section - set the background image for the header in the line below -->
	<section class="pt-5">
		<div class="container">
			<section>
			
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/XNxRPO9pXVY?rel=0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>

			</section>
		</div>
		<!--Carousel Wrapper-->
	</section>
	
		<!-- Content section -->
	<section id="project" class="pt-5">
		<div class="container"> 
			<h1 style="display:inline-block">Rouler pour dépolluer !</h1>
			   <p th:text="${toto}">Test</p>
			<p class="lead">La fin des moteurs thermiques pollueurs</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Aliquid, suscipit, rerum quos facilis repellat architecto commodi
				officia atque nemo facere eum non illo voluptatem quae delectus odit
				vel itaque amet.</p>
		</div>
	</section>
	
		<!-- Image Section - set the background image for the header in the line below -->
	<section class="py-5">
		<div class="container">
			<section>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/ernUcnmTfuA?rel=0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</section>
		</div>
		<!--Carousel Wrapper-->
	</section>
	
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy;
				CIA 2019</p>
		</div>
		<!-- /.container -->
	</footer>

</body>

</html>
